<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fwa.app.familyshoppingplanner">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Familyshoppingplanner"
        tools:targetApi="31">
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Employee.EmployeeMainActivity"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Employee.RVActivity"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.list_view_test"
            android:exported="false" />
        <activity
            android:name=".ToolbarCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".UserList"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Main_t_recycleview_two_test"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Main_t_recycleview_one_test"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Main_t_simple_getdatafromdb"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.testingViews.testingViews.Main_t_gui_menu_view"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.product.manualy.add.main_add_product_shopping_list_with_barcode_reader_db"
            android:hardwareAccelerated="true"
            android:exported="false" />
        <activity
            android:name="com.fwa.app.product.manualy.add.Main_t_manualy_add_products_to_db"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>